@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-laranja: #F85600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.retangulo::before {
  content: "";
  position: absolute;
  top: 295px;
  left: 75px;
  width: 230px;
  height: 60px;
  background-color: #FFA901;
  border-radius: 0.75rem; /* rounded-xl */
  transform: rotate(-5deg) translateY(-12px);
  z-index: 0;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.interativo:hover .retangulo::before{
  transform: rotate(-5deg) translateY(-12px) scale(4);
  transition: 0.5s;
}

.interativo:hover .titulo{
  padding-bottom: 55px;
  transition: 0.5s;
}

.interativo:hover .conteudo{
  bottom: 8px;
  transition: 0.5s;
}

.carousel-indicators [data-bs-target] {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background-color: #847758 !important; /* Cor das bolinhas */
  opacity: 0.5 !important;
  border: none !important;
}

.carousel-indicators .active {
  background-color: #F85600 !important; /* Cor da bolinha ativa */
  opacity: 1 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0) saturate(100%) invert(35%) sepia(100%) saturate(500%) hue-rotate(-10deg) brightness(100%) contrast(100%) !important;
}